#nav .menus_items {
    display: inline;
    position: absolute;
    text-align: center;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}
.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
    left:calc(-50%)!important;/*这是估算值，为了保持元素居中的，如果不合适可以自己调*/
}
/*导航条间距*/
#nav .menus_items .menus_item{
    padding: 0 0 0 14px;
}
#nav .menus_items .menus_item .menus_item_child{
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}